
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.logo{
    color: #222;
}
/* Toggle Switch Styles */
.toggle-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3; /* Change the background color when checked */
}

input:checked + .slider:before {
    transform: translateX(14px); /* Move the switch to the right */
}

/* Dark mode styles */
.dark-mode {
    background-color: #222;
    color: #f0f0f0;
}

.dark-mode .navbar {
    background-color: #444;
}